<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Chen CST242 Lecture 10 Interfaces/src/duckExample/Demo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="duckExample.Demo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Chen CST242 Lecture 10 Interfaces"/>
</launchConfiguration>
